{% extends "layout.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<p>About Us</p>
<hr><br>
<div class="form-group">
    <p>
        Analisis Perbandingan Holt-Winters dan Support Vector Regression dalam Memprediksi
        Jumlah Wisatawan Mancanegara
    </p>
    <div class="row">
        <div class="col-50">
            <h4>
                11S16001
                <br>
                Sandra Simangunsong
                <br>
                <img draggable="false" src="/static/images/img_sandra.jpeg" alt="img_sandra" width="30%">
            </h4>
        </div>
        <div class="col-50">
            <h4>
                11S16008
                <br>
                Amzesmoro Sianturi
                <br>
                <img draggable="false" src="/static/images/img_amzesmoro.jpeg" alt="img_amzesmoro" width="30%">
            </h4>
        </div>
    </div>
    <div class="info">
        <p>
            If there are some improvement, feel free to contact us: Amzesmoro Sianturi (amzesmoro05@gmail.com)
            and Sandra Simangunsong (sandrayogi24@gmail.com)
        </p>
    </div>
    <hr><br>
    <p style="text-align: center;">S1 Informatika 2016 - Del Institute of Technology</p>
</div>
{% endblock %}