{% extends "layout.html" %}
{% block title %}
Holt-Winters
{% endblock %}
{% block content %}
<p>Holt-Winters</p>
<div class="form-group">
    <p>Dataset</p>
    {{ data | safe }}
    <br>
    <div class="list-btn">
        <a href="{{ url_for('holt_winters_define_parameter') }}"><button type="button" class="btn-processing">Input
                Parameter Values</button></a>
        <a href="{{ url_for('predict_holt_winters') }}"><button type="button" class="btn-processing">Do
                Predictions</button></a>
    </div>
</div>
{% endblock %}