{% extends "layout.html" %}The data that has been calculated using alpha = {{ alpha }}, beta = {{ beta }}, gamma = {{ gamma }} and number of iteration is {{ iteration }}
{% block title %}
Holt-Winters
{% endblock %}
{% block content %}
<p>Holt-Winters</p>               
<div class="form-group">
    <p>
        The data that has been calculated using alpha = {{ alpha }}, 
        beta = {{ beta }}, gamma = {{ gamma }}
    </p>    
    <br>
    <h4>Smoothing Awal</h4>
    <br>
    <p>Smoothing Awal Additive = {{ smoothingadd }}</p>
    <br>
    <p>Smoothing Awal Multiplicative = {{ smoothingmul }}</p>
    <br>
    <h4>Trend Awal</h4>
    <br>
    <p>Trend Awal Additive = {{ trendadd }}</p> 
    <br>
    <p>Trend Awal Multiplicative = {{ trendmul }}</p>
    <br>
    <h4>Seasonal Awal</h4>
    <br>
    <p>Seasonal Awal Additive</p>
    <br>
    {{ df_musimanadd | safe }} 
    <br>
    <p>Seasonal Awal Multiplicative</p>
    <br>
    {{ df_musimanmul | safe }}   
    <br>
    <p>Prediction Using Additive</p>    
    <p>MAPE of Holt-Winters Additive= {{ mape_additive }}%</p>
    {{ prediction_additive | safe}}
    <br><br>
    <p>Prediction Using Multiplicative</p>    
    <p>MAPE of Holt-Winters Multiplicative= {{ mape_multiplicative }}%</p>
    {{ prediction_multiplicative | safe}}
</div>            
{% endblock %}