{% extends "layout.html" %}
{% block title %}
Univariate SVR
{% endblock %}
{% block content %}
<p>Time Series Univariate Support Vector Regression</p>                           
<div class="form-group">    
    <p>
        Prediction based on Ratio Data {{ trainUni }}:{{ testUni }}<br>
        Table below is prediction with ratio data training and data testing is 
        {{ trainUni }}:{{ testUni }} using Univariate SVR, with the value 
        parameter are cLR = {{ clrUni }}, C = {{ cUni }}, epsilon = {{ epsilonUni }}, 
        lambda = {{ lambdaUni }}, sigma = {{ sigmaUni }}, Number of Iteration = {{ iterationUni }}<br>
        MAPE Univariate SVR based on Ratio {{ trainUni }}:{{ testUni }} is {{ mape_test }}%
    </p>   
    {{ predictionUni | safe }}    
</div>  
{% endblock %}