{% extends "layout.html" %}
{% block title %}
Holt-Winters
{% endblock %}
{% block content %}
<p>Smoothing, Trend and Seasonal Holt-Winters</p>               
<div class="form-group">                
    <table class="fixed_table">   
        <caption>Smoothing</caption>                 
        <thead>
            <tr>
                <th scope="col">Name of Month</th>
                <th scope="col">Smoothing Additive</th>
                <th scope="col">Smoothing Multiplicative</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" data-label="Month">January</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">February</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">March</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">April</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">May</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">June</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">July</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">August</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">September</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">October</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">November</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">December</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="fixed_table">   
        <caption>Trend</caption>                 
        <thead>
            <tr>
                <th scope="col">Name of Month</th>
                <th scope="col">Trend Additive</th>
                <th scope="col">Trend Multiplicative</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" data-label="Month">January</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">February</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">March</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">April</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">May</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">June</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">July</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">August</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">September</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">October</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">November</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">December</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="fixed_table">   
        <caption>Seasonal</caption>                 
        <thead>
            <tr>
                <th scope="col">Name of Month</th>
                <th scope="col">Seasonal Additive</th>
                <th scope="col">Seasonal Multiplicative</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" data-label="Month">January</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">February</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">March</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">April</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">May</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">June</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">July</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">August</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">September</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">October</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">November</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">December</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
        </tbody>
    </table>   
    <br> 
    <div class="row">                        
        <a class="next-btn" href="{{ url_for('predictHoltWinters') }}">Next</a>                       
    </div>
</div>    
{% endblock %}