{% extends "layout.html" %}
{% block title %}
Holt-Winters
{% endblock %}
{% block content %}
<p>Smoothing, Trend and Seasonal Holt-Winters</p>
<div class="form-group">                
    <p>
        The table below are Smoothing table, Trend table and Seasonal table. 
        The data that has been calculated using alpha = {{ alpha }}, 
        beta = {{ beta }}, gamma = {{ gamma }} and number of iteration is {{ iteration }}
    </p>      
</div>
<br>              
<p>Smoothing</p>
<div class="form-group">                
    <div class="row">                    
        <div class="col-50">
            <h4>Additive=7.012</h4>
        </div>                  
        <div class="col-50">
            <h4>Multiplicative=6.012</h4>
        </div>                    
    </div>                
</div>
<br>
<p>Trend</p>
<div class="form-group">                
    <div class="row">                    
        <div class="col-50">
            <h4>Additive=7.012</h4>
        </div>                  
        <div class="col-50">
            <h4>Multiplicative=6.012</h4>
        </div>                    
    </div>                
</div>
<br>
<p>Seasonal</p>               
<div class="form-group"> 
    <table class="fixed-table">   
        <caption>Seasonal</caption>                 
        <thead>
            <tr>
                <th scope="col">Name of Month</th>
                <th scope="col">Seasonal Additive</th>
                <th scope="col">Seasonal Multiplicative</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" data-label="Month">January</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">February</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">March</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">April</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">May</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">June</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">July</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">August</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">September</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">October</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">November</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">December</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
        </tbody>
    </table>   
    <br> 
    <div class="row">                        
        <a class="next-btn" href="{{ url_for('predict_holt_winters') }}">Next</a>                       
    </div>
</div>    
{% endblock %}