{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>
    Analisis Perbandingan Holt-Winters dan <br>Support Vector Regression dalam Memprediksi 
    <br>Jumlah Wisatawan Mancanegara
</p>                 
<hr><br>
<div class="form-group">
    <p style="word-spacing: 5px;">
        This prototype is an experimental result of Holt-Winters and Supports 
        Vector Regression algorithm. This prototype will produce prediction results 
        from the two algorithms based on the parameter values inputted by the user. 
        Data that we are use in this experiment are Hotel Occupancy Rate (Tingkat 
        Hunian Hotel),  Events, Inflation (Inflasi),  Exchange Rate USD to Rupiah 
        and number of foreign tourists every month. The data we get from Badan 
        Pusat Statistik Indonesia and Kementerian Pariwisata. 
        <br><br>
        Holt Winters only uses one variable, namely the number of tourists, because 
        the learning process only processes numerical data. While for Support 
        Vector Regression is divided into two parts, namely Univariate SVR which 
        also uses one variable, namely the number of tourists, and Multivariate 
        SVR which uses several variables namely Hotel Occupancy Rate (Tingkat Hunian Hotel),  
        Events, Inflation (Inflasi),  Exchange Rate USD to Rupiah.
        <br><br>
        These two algorithms have different approaches. Holt Winters is used for time series 
        data while Support Vector Regression is to see the effect of each variable on the 
        target we want. So we can see the best algorithm to predict the number of tourists
    </p>                                  
</div> 
<br>
<div class="form-group">
    <h2>Holt-Winters</h2>    
    <form class="form-upload" action="{{ url_for('holt_winters') }}", method="POST">
        <input type="file" name="file" id="upload-file-hw" accept=".csv" hidden="hidden">
        <span id="upload-textname-hw">No file chosen, yet. Please upload a file.</span>
        <button type="button" id="btn-upload-hw">Browse File</button>      
        <button type="submit" id="btn-upload-data">Process Data</button>
    </form>
    <h2>Support Vector Regression</h2>
    <form class="form-upload" action="{{ url_for('svr_preprocessing') }}", method="POST" enctype="multipart/form-data">
        <input type="file" name="csv_data" id="upload-file-svr" accept=".csv" hidden="hidden">
        <span id="upload-textname-svr">No file chosen, yet. Please upload a file.</span>
        <button type="button" id="btn-upload-svr">Browse File</button>      
        <button type="su`bmit" id="btn-upload-data">Process Data</button>
    </form>
</div>  

{% endblock %}