{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>
    Analisis Perbandingan Holt-Winters dan <br>Support Vector Regression dalam Memprediksi 
    <br>Jumlah Wisatawan Mancanegara
</p>                 
<hr>          
<form class="form-upload" method="POST" enctype=multipart/form-data>
    <input type="file" name="file" id="upload-file" accept=".xlsx, .xls, .csv" hidden="hidden">
    <span id="upload-text">No file chosen, yet. Please upload a file.</span>
    <button type="button" id="btn-upload">Browse File</button>      
    <button type="submit" id="btn-preview-data">Upload File</button>
</form>

<div class="list-btn">
    <a href="{{ url_for('holt_winters') }}"><button type="button" class="btn-holt">Holt-Winters</button></a>
    <div class="divider"></div>
    <a href="{{ url_for('svr') }}"><button type="button" class="btn-svr">Support Vector Regression</button></a>
</div> 
<!-- <div id="preview-data">
    <p>Preview Data</p>    
    <div class="list-btn">
        <a href="{{ url_for('holt_winters') }}"><button type="button" class="btn-holt">Holt-Winters</button></a>
        <div class="divider"></div>
        <a href="{{ url_for('svr') }}"><button type="button" class="btn-svr">Support Vector Regression</button></a>
    </div>        
</div>     -->
{% endblock %}