{% extends "layout.html" %}
{% block title %}
Holt-Winters
{% endblock %}
{% block content %}
<p>MAPE of Holt-Winters</p>               
<div class="form-group">
    <div class="row">
        <div class="col-50">
            <h4>Additive=7.012</h4>
        </div>                  
        <div class="col-50">
            <h4>Multiplicative=6.012</h4>
        </div>                    
    </div>                
</div> 
<br>         
<p>Prediction Using Additive and Multiplicative Holt-Winters</p>
<div class="form-group">
    <table class="fixed-table">
        <thead>
            <tr>
                <th scope="col">Name of Month</th>
                <th scope="col">Prediction using Additive</th>
                <th scope="col">Prediction using Multiplicative</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" data-label="Month">January</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">February</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">March</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">April</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">May</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">June</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">July</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">August</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">September</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">October</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">November</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">December</td>
                <td data-label="Additive">1</td>
                <td data-label="Multiplicative">1</td>
            </tr>
        </tbody>
    </table>
</div>                  
{% endblock %}