{% extends "layout.html" %}
{% block title %}
Multivariate SVR
{% endblock %}
{% block content %}
<p>Time Series Multivariate Support Vector Regression</p>                           
<div class="form-group">
    <p>
        Table below is the data that has been preprocessing (normalization)
        with the ratio data data training and data testing is {{ trainMulti }}:{{ testMulti }}. 
        As we know, multivariate using Tingkat Hunian Hotel, Events, Inflasi, USDToRupiah as 
        features. X1 is Hotel Occupancy Rate (Tingkat Hunian Hotel), X2 is Events, X3 is Inflation 
        (Inflasi), X4 is Exchange Rate USD to Rupiah (USD ke Rupiah) and y is target. 
    </p><br>
    <p>Data Training</p>
    <table class="fixed-table">
        <thead>
            <tr>
                <th scope="col">Name of Month</th>
                <th scope="col">X1</th>
                <th scope="col">X2</th>
                <th scope="col">X3</th>
                <th scope="col">X4</th>
                <th scope="col">y</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" data-label="Month">January</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">February</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">March</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">April</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">May</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">June</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">July</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">August</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">September</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">October</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">November</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">Descember</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
        </tbody>
    </table>
    <br>
    <p>Data Testing</p>
    <table class="fixed-table">
        <thead>
            <tr>
                <th scope="col">Name of Month</th>
                <th scope="col">X1</th>
                <th scope="col">X2</th>
                <th scope="col">X3</th>
                <th scope="col">X4</th>
                <th scope="col">y</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" data-label="Month">January</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">February</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">March</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">April</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">May</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">June</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">July</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">August</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">September</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">October</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">November</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
            <tr>
                <td scope="row" data-label="Month">Descember</td>
                <td data-label="Hotel Occupancy Rate">1.000</td>
                <td data-label="Events">2.000</td>
                <td data-label="Inflation">3.000</td>
                <td data-label="Exchange Rate USD to Rupiah">4.000</td>
                <td data-label="Number of tourists">5.000</td>
            </tr>
        </tbody>
    </table>
    <br>
    <p>
        Before doing prediction with Multivariate SVR, we must fill the form below.
        This form is initialization of parameter value.
    </p>
    <form action="{{ url_for('predict_svr_multivariate') }}", method="POST">
        <div class="row">
            <div class="col-25">
                <label for="value-clr" class="name-label">cLR</label>
            </div>
            <div class="col-75">
                <input type="number" name="clr-multi" step="0.00001" placeholder="Input value of cLR" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="value-c" class="name-label">C</label>
            </div>
            <div class="col-75">
                <input type="number" name="c-multi" step="0.00001" placeholder="Input value of C" required>
            </div>
        </div>  
        <div class="row">
            <div class="col-25">
                <label for="value-epsilon" class="name-label">epsilon</label>
            </div>
            <div class="col-75">
                <input type="number" name="epsilon-multi" step="0.00001" placeholder="Input value of epsilon" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="value-lambda" class="name-label">lambda</label>
            </div>
            <div class="col-75">
                <input type="number" name="lambda-multi" step="0.00001" placeholder="Input value of lambda" required>
            </div>
        </div>                    
        <div class="row">
            <div class="col-25">
                <label for="value-sigma" class="name-label">sigma</label>
            </div>
            <div class="col-75">
                <input type="number" name="sigma-multi" step="0.00001" placeholder="Input value of sigma" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="value-iteration" class="name-label">Number of Iteration</label>
            </div>
            <div class="col-75">
                <input type="number" name="iteration-multi" step="0.00001" placeholder="Input Number of Iteration" required>
            </div>
        </div>      
        <div class="info">
            <p>
                Suggestion from us, best parameter values are cLR is 0.01, C is 100, epsilon is 0.001, lambda is 0.001, 
                sigma is 1, number of iterations is 50
            </p>
        </div>                                     
        <div class="row">                        
            <input type="submit" value="Do Predictions">
        </div>
    </form>
</div> 
{% endblock %}