* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

footer {
    position: fixed;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #F1F1F1;   
}

.main-nav {
    list-style-type: none;
    display: none;
    font-size: 18px;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 10px;
}

.nav-links, 
.logo {
    text-decoration: none;    
}

.navbar a {
    color: #555555;
}

@media screen and (min-width: 768px) {    
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px; 
        background-color: #F1F1F1;       
    }   

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 25px;
    }
    
    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        font-size: 30px;
        margin-top: 0;        
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {        
        color: black;
    }     
}

.content {   
    padding-bottom: 50px;
}

.card {
    border: 3px solid black;
    border-radius: 10px;
    margin: 2em 4em;
    padding: 20px 10px 20px 10px;
}

.card p {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 10px;
}

/* .list-btn {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 30px;
} */

.list-btn-prep-uni,
.list-btn-prep-multi {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.divider {
    width: 50px;
    height: auto;
    display: inline-block;
}

.btn-holt,
.btn-svr {
    background-color:#F1F1F1;
    border: 2px solid #555555;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 20px;   
    cursor: pointer;
    padding: 15px 15px;   
    transition-duration: 0.4s;  
    width: 35%;  
}

.btn-prep-svr-uni,
#btn-preview-prep-svr-uni {
    background-color:#F1F1F1;
    border: 2px solid #555555;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 20px;   
    cursor: pointer;
    padding: 15px 15px;
    margin: 0px 10px 0px 10px;     
    transition-duration: 0.4s;  
    width: 30%;  
}

.btn-prep-svr-multi,
#btn-preview-prep-svr-multi {
    background-color:#F1F1F1;
    border: 2px solid #555555;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 20px;   
    cursor: pointer;
    padding: 15px 15px;   
    margin: 0px 20px 0px 20px; 
    transition-duration: 0.4s;  
    width: 45%;  
}

.btn-holt:hover,
.btn-svr:hover,
.btn-prep-svr-uni:hover,
.btn-prep-svr-multi:hover,
#btn-preview-prep-svr-uni:hover,
#btn-preview-prep-svr-multi:hover,
.next-btn:hover {   
    background-color: #555555;
    color: white;
    font-weight: bold;
}

.name-label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 20px; 
}

input[type=number] {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 20px;  
}

input[type=submit] {  
    background-color:#F1F1F1;
    border: 2px solid #555555;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 20px;   
    cursor: pointer;
    padding: 15px 15px;   
    transition-duration: 0.4s;  
    float: right;
    width: 30%;  
    margin-top: 15px;
}

input[type=submit]:hover {
    background-color: #555555;
    color: white;
    font-weight: bold;
}


.next-btn {  
    background-color:#F1F1F1;
    border: 2px solid #555555;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 20px;   
    cursor: pointer;
    padding: 15px 15px;   
    transition-duration: 0.4s;  
    width: 30%;
    float: right;
    margin-top: 20px;
    text-decoration: none;
}

.form-group {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;    
}

.form-group p {
    font-size: 20px;
    text-align: justify;
}

.form-group h4 {    
    font-size: 20px;
    text-align: center;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
    font-size: 14px;
}

.col-50 h4{
    text-align: center;
    font-size: 25px;    
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 15px;
}

.fixed-table tbody {
    overflow: scroll;
    height: 300px;
    display: block;
}

.fixed-table thead, 
.fixed-table tbody tr{
    table-layout: fixed;
    width: 100%;
    display: table;
}

.fixed-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.fixed-table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.fixed-table th, 
.fixed-table td {
    padding: .625em;
    text-align: center;
}

.fixed-table th {
    font-size: .85em;
    letter-spacing: .1em;
}

tr:nth-child(even) {
    background-color: white; 
}

.alert p {
    border-radius: 5px;
    text-align: justify;   
    font-size: 16px;
    padding: 10px;  
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1;
}

.info p {
    border-radius: 5px;
    text-align: justify;   
    font-size: 16px;
    margin: 10px;   
    padding: 10px;   
    color:#31708f;
    background-color:#d9edf7;
    border-color:#bce8f1;
}

img {
    border-radius: 15px;
}

hr {
    border:  1px solid black;
}

@media screen and (max-width: 600px) { 
    h2 {
        font-size: 18px;
    }
    .col-25, .col-50 .col-75 {
        width: 100%;
        margin-top: 0;
    }

    input[type=submit] {
        margin-top: 20px;
        width: 100%;
    }

    .card {
        border: 2px solid black;
        border-radius: 10px;
        margin: 2em;
        padding: 10px;
    }

    .card p {
        text-align: center;
        font-size: 16px;
        font-weight: bold;       
    }

    .alert p,
    .info p {
        font-size: 14px;  
        text-align: justify;  
    }

    .list-btn {
        padding-top: 10px;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .btn-holt,
    .btn-svr, 
    .next-btn {
        font-size: 16px;   
        padding: 10px 10px;   
        width: 100%;  
    }

    .btn-prep-svr-uni,
    .btn-prep-svr-multi,
    #btn-preview-prep-svr-uni,
    #btn-preview-prep-svr-multi {
        font-size: 16px;
        padding: 10px;
        width: 90%;
        margin: 5px;
    }

    .navbar {
        font-size: 25px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 10px;
    }

    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        color: black;
        font-size: 24px;
    }

    .active {
        display: block;
    }
  
    .main-nav li {
        text-align: center;
        margin: 15px auto;
    }

    footer {
        font-size: 15px;
    }

    .content {
        padding-bottom: 40px;
    }

    .name-label {
        padding: 1px 1px 1px 0;        
        font-size: 16px; 
    }

    input[type=number] {
        font-size: 12px;
        width: 132%;
    }

    input[type=submit] {
        font-size: 14px;
        padding: 10px 10px;
        margin-top: 10px;
    }

    .form-group {
        padding: 10px;
    }

    .form-group p {
        font-size: 14px;
        text-align: justify;
    }
    
    .form-group h4 {    
        font-size: 16px;
        text-align: center;
    }

    .col-50 h4{        
        font-size: 10px;
    }

    .fixed-table tbody {
        overflow: auto;
        height: 480px;
        display: block;
    }

    .fixed-table {
        border: 0;
    }

    .fixed-table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .fixed-table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .fixed-table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .fixed-table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    .fixed-table td:last-child {
        border-bottom: 0;
    }
        
    #upload-textname-hw,
    #upload-textname-svr {     
        font-size: 10px;  
        margin-bottom: 10px;   
    }

    #btn-upload-hw,
    #btn-upload-svr,
    #btn-upload-data {        
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    #upload-textname-hw,
    #upload-textname-svr {             
        padding: 10px;
        width: 100%;  
        display: inline-block;
    }

    #preview-prep-svr-uni,
    #preview-prep-svr-multi {                                    
        margin: 10px 5px;
        padding: 50px;
        
    }
}

.form-upload {     
    margin-top: 20px;  
    margin-bottom: 20px;
    text-align: center;
}
  
#upload-textname-hw,
#upload-textname-svr {     
    color: #aaa;    
    border: 2px solid black;
    border-radius: 10px;
    padding: 12px;
    width: 70%;  
    display: inline-block;
}
  
#btn-upload-hw,
#btn-upload-svr,
#btn-upload-data {
    padding: 12px;    
    background-color:cadetblue;    
    border-radius: 10px;
    cursor: pointer;   
    color: #fff;
    font-size: 16px;  
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid black;    
}
  
#btn-upload-hw:hover,
#btn-upload-svr:hover,
#btn-upload-data:hover {
    background-color: darkcyan;
}

#preview-prep-svr-uni,
#preview-prep-svr-multi {    
    background-color: lavender;     
    padding: 20px;
    margin: 20px 35px;
    border-radius: 10px;
    border: 2px solid black;
    display: none;   
}
